In [62]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
# Find the total number of players
players = purchase_data_df["SN"].value_counts()
players

Lisosia93       5
Idastidru52     4
Iral74          4
Lassilsala30    3
Pheodaisun84    3
               ..
Yathecal72      1
Aerillorin70    1
Irithlis29      1
Lisassasta50    1
Ririp86         1
Name: SN, Length: 576, dtype: int64

In [64]:
# find the total number of Unique Items
items = purchase_data_df["Item Name"].value_counts()
items

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Persuasion                                       9
                                                ..
Alpha, Reach of Ending Hope                      1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
Name: Item Name, Length: 179, dtype: int64

In [65]:
# Find the Average Purchase Price
app = purchase_data_df["Price"].mean()
app

3.050987179487176

In [66]:
#Find the total number of purchases
sales_count=purchase_data_df["Price"].count()
sales_count

780

In [67]:
# Find the total revenue
total_revenue=purchase_data_df["Price"].sum()
total_revenue

2379.77

In [68]:
# Print the results of the analysis in a DataFrame
purchasing_analysis = {"Category": pd.Series(["Player Count", "Unique Items", "Average Price", "Items Sold", "Revenue"],
                     index=["1", "2", "3", "4", "5"]),
                "Amount" : pd.Series([576, 179, "$3.05", 780, "$2379.77"],
                                 index=["1", "2", "3", "4", "5"])}
purchasing_analysis_df=pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

        Category    Amount
1   Player Count       576
2   Unique Items       179
3  Average Price     $3.05
4     Items Sold       780
5        Revenue  $2379.77

In [69]:
#Gender Demographics
#Find the percentage and count of Male / Female / and Non_Disclosed Players
pymoli_users_df = purchase_data_df
pymoli_users_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [70]:
# Rename "Other / Non_Disclosed" to "Not_Identifed"
pymoli_gender_df =pymoli_users_df.replace({"Other / Non-Disclosed": "Not_Identified"})
pymoli_gender_df["Gender"].value_counts()

Male              652
Female            113
Not_Identified     15
Name: Gender, dtype: int64

In [71]:
# Count Gender Demographics
total_gender = pymoli_gender_df["Gender"].count()
male = pymoli_gender_df["Gender"].value_counts()["Male"]
female = pymoli_gender_df["Gender"].value_counts()["Female"]
not_identified = pymoli_gender_df["Gender"].value_counts()["Not_Identified"]
print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n Not_Identified: {not_identified}")

 Total: 780
 Male: 652
 Female: 113
 Not_Identified: 15

In [72]:
# Calculate Gender Demographics Percentage
male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
not_identified_percent = (not_identified/total_gender) * 100
print(f" % Male: {male_percent}\n % Female: {female_percent}\n % Non_Identified: {not_identified_percent}")

 % Male: 83.58974358974359
 % Female: 14.487179487179489
 % Non_Identified: 1.9230769230769231

In [73]:
# Print the results of the analysis in a DataFrame
gender_demographics = {"Count": pd.Series([652, 113, 15, 780],
                     index=["Male Players", "Female Players", "Not Identified", "Total Players"]),
                "Percent" : pd.Series(["83.59%", "14.49%", "1.92%", "100%"],
                                 index=["Male Players", "Female Players", "Not Identified", "Total Players"])}
gender_demographics_df=pd.DataFrame(gender_demographics)
gender_demographics_df

                Count Percent
Male Players      652  83.59%
Female Players    113  14.49%
Not Identified     15   1.92%
Total Players     780    100%

In [74]:
# Purchasing Analysis (Gender Based)
# Use the groupby function to group results
# Purchase Count by gender
pymoli_purchases_df =purchase_data_df.loc[:, ["Item ID", "Gender"]] 
grouped_purchases_df = pymoli_purchases_df.groupby(["Gender"])
grouped_purchases_df.count()

                       Item ID
Gender
Female                     113
Male                       652
Other / Non-Disclosed       15

In [75]:
# Get average purchase amount by gender
pymoli_averages_df=purchase_data_df.loc[:, [ "Gender", "Item Name", "Price"]]
grouped_purchases_df = pymoli_averages_df.groupby(["Gender"])
grouped_purchases_df.mean()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [76]:
# Get the total purchase amount by gender
grouped_purchases_df = pymoli_averages_df.groupby(["Gender"])
grouped_purchases_df.sum()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [77]:
# Print the results of the analysis in a DataFrame
gender_purchases = {"Purchase Count": pd.Series([652, 113, 15],
                     index=["Male Players", "Female Players", "Not Identified"]),
                "Average Purchase Price" : pd.Series(["$3.02", "$3.20", "$3.35"],
                     index=["Male Players", "Female Players", "Not Identified"]),
                 "Total Purchase Value" : pd.Series(["$1967.64", "$361.94", "$50.19"],
                     index=["Male Players", "Female Players", "Not Identified"])}
gender_purchases_df=pd.DataFrame(gender_purchases)
gender_purchases_df

                Purchase Count Average Purchase Price Total Purchase Value
Male Players               652                  $3.02             $1967.64
Female Players             113                  $3.20              $361.94
Not Identified              15                  $3.35               $50.19

In [78]:
# Use the groupby function to group results into bins
bins=[0, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Create labels for these bins
group_labels =["0 to 9","10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40 to 44", "45+"]

In [79]:
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Summary"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 to 19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35 to 39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15 to 19
778,778,Sisur91,7,Male,92,Final Critic,4.19,0 to 9
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [91]:
# Average Purchase Price by Age Group
age_group= purchase_data_df.groupby("Age Summary")
age_group_comparison = age_group.mean()
age_group_comparison

             Purchase ID        Age     Item ID     Price
Age Summary
0 to 9        389.906250   8.468750  106.250000  3.405000
10 to 14      416.833333  13.962963   91.407407  2.900000
15 to 19      389.595000  18.695000   90.805000  3.107800
20 to 24      386.338462  22.972308   89.806154  3.020431
25 to 29      387.324675  28.584416   93.792208  2.875584
30 to 34      362.057692  33.288462   89.461538  2.994423
35 to 39      391.151515  38.030303  104.090909  3.404545
40 to 44      540.857143  42.857143   82.285714  3.075714
45+                  NaN        NaN         NaN       NaN

In [98]:
age_group_comparison_slim = age_group_comparison[["Age", "Price"]]
age_group_comparison_slim.head()

                   Age     Price
Age Summary
0 to 9        8.468750  3.405000
10 to 14     13.962963  2.900000
15 to 19     18.695000  3.107800
20 to 24     22.972308  3.020431
25 to 29     28.584416  2.875584

In [99]:
# Total Purchase Price by Age Group
age_group_comparison["Total"] = age_group_comparison_slim.sum(axis=1)
age_group_comparison["Total"]

Age Summary
0 to 9      11.873750
10 to 14    16.862963
15 to 19    21.802800
20 to 24    25.992738
25 to 29    31.460000
30 to 34    36.282885
35 to 39    41.434848
40 to 44    45.932857
45+          0.000000
Name: Total, dtype: float64

In [100]:
# Find the top five most purchased items
top_5= purchase_data_df["Item Name"].value_counts()
top_5.head(5)

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Persuasion                                       9
Name: Item Name, dtype: int64

In [107]:
# Find the top most profitable items
most_profitable = top_5*age_group_comparison_slim["Price"].mean()
most_profitable.head(5)

Final Critic                                    40.273184
Oathbreaker, Last Hope of the Breaking Storm    37.175247
Fiery Glass Crusader                            27.881435
Nirvana                                         27.881435
Persuasion                                      27.881435
Name: Item Name, dtype: float64

In [86]:
# Find the top most popular items
most_popular = purchase_data_df["Item Name"].value_counts()
most_popular.head(5)

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Persuasion                                       9
Name: Item Name, dtype: int64

In [122]:
# 
top_profitable = purchase_data_df["Item Name"].value_counts()*age_group_comparison_slim["Price"].mean()
top_profitable.head(5)

Final Critic                                    40.273184
Oathbreaker, Last Hope of the Breaking Storm    37.175247
Fiery Glass Crusader                            27.881435
Nirvana                                         27.881435
Persuasion                                      27.881435
Name: Item Name, dtype: float64

In [88]:
# Print the results of the analysis in a DataFrame
most_profitable_items = {"Purchase Count": pd.Series([13, 12, 9, 9, 9],
                     index=["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", "Nirvana", "Fiery Glass Crusader","Extraction, Quickblade Of Trembling Hands"]),
                "Item Price" : pd.Series(["$40.27", "$37.18", "$27.88", "$27.88", "$27.88"],
                     index=["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", "Nirvana", "Fiery Glass Crusader","Extraction, Quickblade Of Trembling Hands"]),
                 "Total Purchase Value" : pd.Series(["$64.87", "$59.88", "$44.91", "$44.91", "$44.91"],
                     index=["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm", "Nirvana", "Fiery Glass Crusader","Extraction, Quickblade Of Trembling Hands"])}
most_profitable_items_df=pd.DataFrame(most_profitable_items)
most_profitable_items_df

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,$39.66,$64.87
"Oathbreaker, Last Hope of the Breaking Storm",12,$36.61,$59.88
Nirvana,9,$27.45,$44.91
Fiery Glass Crusader,9,$27.45,$44.91
"Extraction, Quickblade Of Trembling Hands",9,$27.45,$44.91